<a href="https://colab.research.google.com/github/shaffayqazi/dS-and-A/blob/main/20sw108_lab_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **TASK 1**

In [3]:
points = 174

if points >= 1 and points <= 50:
    result = "Congratulations! You won a 500 tickets"
elif points >= 51 and points <= 150:
    result = "Congratulations! You won a no prize this time."
elif points >= 151 and points <= 180:
    result = "Congratulations! You won a rabbit"
elif points >= 181 and points <= 200:
    result = "Congratulations! You won a penguin!"
else:
    result = "Oh dear, no prize this time."

print(result)

Congratulations! You won a rabbit

## **TASK 2**

In [4]:
answer = 12
guess = 24

if guess < answer:
    result = "Oops! Your guess was too low."
elif guess > answer:
    result = "Oops! Your guess was too high."
else:
    result = "Nice! Your guess matched the answer!"

print(result)

Oops! Your guess was too high.

## **TASK 3**

In [5]:
def calculate_tax(purchase_amount, state):
    tax_rates = {
        'PK': 0.075,
        'IN': 0.095,
        'NY': 0.089,
    }

    if state in tax_rates:
        tax_rate = tax_rates[state]
        tax_amount = purchase_amount * tax_rate
        total_amount = purchase_amount + tax_amount
        return total_amount
    else:
        return purchase_amount

state = "PK"
purchase_amount = 100.0
total_amount_with_tax = calculate_tax(purchase_amount, state)
print(f'Total amount with tax: ${total_amount_with_tax:.2f}')

Total amount with tax: $107.50

# **TASK 4**

In [6]:
sentence = ["the", "quick", "brown", "fox", "jumped", "over", "the", "lazy", "dog"]

for word in sentence:
    print(word)

the
quick
brown
fox
jumped
over
the
lazy
dog

# **TASK 5**

In [7]:
for number in range(5, 31, 5):
    print(number)

5
10
15
20
25
30

# **TASK 6**

In [8]:
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]

first_names = [name.split()[0].lower() for name in names]
print(first_names)

['rick', 'morty', 'summer', 'jerry', 'beth']

# **TASK 7**

In [9]:
multiples_3 = [num * 3 for num in range(1, 21)]
print(multiples_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

# **TASK 8**

In [10]:
scores = {
    "Rick Sanchez": 70,
    "Morty Smith": 35,
    "Summer Smith": 82,
    "Jerry Smith": 23,
    "Beth Smith": 98
}

passed = [name for name, score in scores.items() if score >= 65]
print(passed)

['Rick Sanchez', 'Summer Smith', 'Beth Smith']

# **TASK 9**

In [11]:
cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]

cast = dict(zip(cast_names, cast_heights))
print(cast)

{'Barney': 72, 'Robin': 68, 'Ted': 72, 'Lily': 66, 'Marshall': 76}

# **TASK 10**

In [12]:
cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", "Lily Aldrin", "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]

for index, name in enumerate(cast):
    cast[index] = f"{name} {heights[index]}"

print(cast)

['Barney Stinson 72', 'Robin Scherbatsky 68', 'Ted Mosby 72', 'Lily Aldrin 66', 'Marshall Eriksen 76']